h1{
  color: white;
  font-size:200%
}
P{
  font-family: "verdana";
  text-indent: 20px;
  margin-left: 10px;
  color: white;
}
#content{
  background-color: #ffb3d5;
  background: radial-gradient(circle, #28bd68 0%, #16703d 100%);
  width: 700px;
  min-height:200px;
  padding: 20px;
  margin: 20px;
  border-style: double;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}
